files/sample_data/pipeline.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "rawAdlsName": {
            "type": "string"
        },
        "adlsLinkedServiceName": {
            "type": "string"
        },
        "cleanNotebookPath": {
            "type": "string"
        },
        "transformNotebookPath": {
            "type": "string"
        },
        "databricksLinkedServiceName": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "pipelineName": "sampleDataPipeline",
        "sampleDataLinkedServiceName": "sampleDataService",
        "sampleDataDatasetName": "sampleDataSet",
        "rawDataSetName": "rawData"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/', variables('sampleDataLinkedServiceName'))]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "HttpServer",
                "typeProperties": {
                    "url": "https://my.api.mockaroo.com",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/', variables('sampleDataDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sampleDataLinkedServiceName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": "/sales.json?key=592257d0"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/', variables('sampleDataLinkedServiceName'))]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/', variables('rawDataSetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('adlsLinkedServiceName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@concat(string(dayOfMonth(utcnow())), '.json')",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@formatDateTime(utcnow(), 'yyyyMM')",
                            "type": "Expression"
                        },
                        "fileSystem": "[parameters('rawAdlsName')]"
                    }
                }
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/', variables('pipelineName'))]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy from sample to data lake storage",
                        "type": "Copy",
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                }
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings",
                                    "quoteAllText": true
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('sampleDataDatasetName')]",
                                "type": "DatasetReference"
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('rawDataSetName')]",
                                "type": "DatasetReference"
                            }
                        ]
                    },
                    {
                        "name": "Cleanse raw data",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Copy from sample to data lake storage",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "notebookPath": "[parameters('cleanNotebookPath')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "[parameters('databricksLinkedServiceName')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform data",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Cleanse raw data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "notebookPath": "[parameters('transformNotebookPath')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "[parameters('databricksLinkedServiceName')]",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/', variables('sampleDataDatasetName'))]",
                "[concat(variables('factoryId'), '/datasets/', variables('rawDataSetName'))]"
            ]
        }
    ],
    "outputs": {
        "pipelineName": {
            "type": "string",
            "value": "[variables('pipelineName')]"
        },
        "pipelineId": {
            "type": "string",
            "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), variables('pipelineName'))]"
        },
        "sampleDataDatasetId": {
            "type": "string",
            "value": "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), variables('sampleDataDatasetName'))]"
        },
        "rawDataSetId": {
            "type": "string",
            "value": "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), variables('rawDataSetName'))]"
        },
        "sampleDataLinkedServiceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), variables('sampleDataLinkedServiceName'))]"
        }
    }
}